* {
    /* background-color: black; */
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5);
}

p {
    font-family: 'Determination', sans-serif;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5);
}

html {
    border: 0px solid white;
    background: url('background-image.jpg') no-repeat center center fixed;
    background-size: cover;

    width: 100%;
    position: relative;
}

audio {
    display: none;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -1;
}

body {
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -1;
}

html::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: inherit;
    filter: blur(5px);
    z-index: -1;
    height: 100%;
}


body {
    width: 1400px;
    height: 600px;
    margin: 15 auto;
    overflow: hidden;
}

img {
    border-radius: 3%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5);
}


a:link, a:visited {
    color: yellow;
    text-decoration: none;
    text-shadow: 0 0 5px rgba(255, 255, 0, 0.5), 0 0 10px rgba(255, 255, 0, 0.5), 0 0 15px rgba(255, 255, 0, 0.5);
}

a:hover {
    color: yellow;
    text-shadow: 0 0 5px rgba(255, 255, 0, 0.5), 0 0 10px rgba(255, 255, 0, 0.5), 0 0 15px rgba(255, 255, 0, 0.5);
}

a:active {
    color: yellow;
    text-shadow: 0 0 5px rgba(255, 255, 0, 0.5), 0 0 10px rgba(255, 255, 0, 0.5), 0 0 15px rgba(255, 255, 0, 0.5);
}

img {
    border-radius: 3%;
}

i {
    color: lightgray;
    text-shadow: 0 0 5px rgba(211, 211, 211, 0.5), 0 0 10px rgba(211, 211, 211, 0.5), 0 0 15px rgba(211, 211, 211, 0.5);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Monster', sans-serif;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5);
}

@font-face {
    font-family: 'Determination';
    src: url('determination.ttf') format('truetype');
}

@font-face {
    font-family: 'Monster';
    src: url('monster.otf') format('opentype');
}
